.project-page-content-container {
    display: flex;

    .project-description-container {
        width: 40%;
        margin: auto;
    }

    .project-data-container {
        width: 40%;
        margin: auto;
    }
}